/*
    ESTILOS GENERALES PARA EL BLOG
    Ultima modificacion: 01/05/2017
*/
.prueba{
    width: 56%;
    top: -8px;
}
.Imagen{
    width: 163%;
    background-color: red;
}
.Ocultar{
    display: none;
}
.Administrador{
    display: none;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}