

<div class="col-xs-12">
    <div class="jumbotron">
        <p>Discografia</p>
        <button class="btn btn-default" onclick="Prueba()"><i class="fa fa-user"></i> Prueba</button>
    </div>
</div>
