@{
    ViewBag.Title = "AdmLyrics";
}
<h2>AdmLyrics</h2>
<div class="col-xs-12">
    <div class="jumbotron">
        <p>Letras</p>
        <button class="btn btn-default" onclick="Prueba()"><i class="fa fa-user"></i> Prueba</button>
    </div>
</div>
