@{
    ViewBag.Title = "AdmLyrics";
}
<h2>Lyrics</h2>
<div class="col-xs-12">
    <div id="table" class="col-xs-12">
        <table id="tlyrics" class="table">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Group/single</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Album</th>
                </tr>
                <tr>
                    <th><input type="text" class="filter" /></th>
                    <th><input type="text" class="filter" /></th>
                    <th><input type="text" class="filter" /></th>
                    <th><input type="text" class="filter" /></th>
                    <th><input type="text" class="filter" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a href="#">Toys in the attic</a></th>
                    <th>Aerosmith</th>
                    <th>Rock</th>
                    <th>1972</th>
                    <th>Toys in the attic</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
