@{
    ViewBag.Title = "AdmReview";
}
<h2>AdmReview</h2>
<div class="col-xs-12">
    <div class="jumbotron">
        <p>Reseñas</p>
        <button class="btn btn-default" onclick="Prueba()"><i class="fa fa-user"></i> Prueba</button>
    </div>
</div>
