<div class="col-xs-12">
    
    <h2>Discographys</h2>
    <div id="table" class="col-xs-12">
        <table id="tdiscography" class="table">
            <thead>
                <tr>
                    <th>Group/single</th>
                    <th>Genre</th>
                    <th>No. Albums</th>
                </tr>
                <tr>
                    <th><input type="text"  class="filter"/></th>
                    <th><input type="text" class="filter" /></th>
                    <th><input type="text" class="filter" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a href="#">Aerosmith</a></th>
                    <th>Rock</th>
                    <th>15</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
